# Dependencies
node_modules
.pnpm-store

# Turbo
.turbo

# Next.js
.next
out

# NestJS
dist

# Environment
.env*
!.env.example

# SonarQube
.scannerwork

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db


