# Dependencies
node_modules
.pnpm-store

# Turbo
.turbo

# Next.js
.next
out

# NestJS
dist

# Environment
.env*
!.env.example
!.env.local.example

# SonarQube
.scannerwork

# Coverage
coverage
*.lcov

# Playwright
test-results/
playwright-report/
playwright/.cache/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db


